.infoIcon{
    cursor: pointer;
    position: absolute;
    top: 27px;
    left: 74px;
}
.wrapper{
    position: relative;
    z-index: 1000;
}
.popupMessage{
    width: 200px;
    height: 70px;
    background: #5F6BAC;
    position: absolute;
    top: 24px;
    left: 85px;
    display: flex;
    align-items: center;
    & .arrow{
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-right: 0px solid transparent;
        position: absolute;
        top:-25px;
        /* left: -1px; */
        border-left:25px solid #5F6BAC;
    }
    & .content{
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        padding: 20px 10px;
        color: white;
        font-size: .75rem;
    }
}
.hidden{
    display: none !important;
}