.paymentForm {
  width: 380px;
  height: 440px;
  background: white;
  padding: 25px;
  & .infoBtn{
    border: 1px solid red;
    padding: 5px;
    border-radius: 50%;
  }
  & .title {
    text-align: left;
    color: #b3b3b3;
    font-size: 9px;
  }

  & .radioGroup {
    position: relative;
    display: block;
    text-align: left;
    margin-left: 7px;
    margin-top: 14px;
    font-size: 14px;
    font-weight: bold;
    & div {
      margin-bottom: 6px;
    }
    & .infoMessage{
      position: absolute;
      background: red;
    }
  }
  & .checkBox {
    text-align: left;
    font-size: 11px;
    margin-left: 34px;
    $switch-width: 30px;
    $switch-bg-color: #eeeeee;
    $switch-bg-active-color: #f09f2b;
    $switch-knob-color: #ffffff;

    input[type='checkbox'].custom {
      display: none; // Hide original checkbox
      // Unchecked
      & + label {
        // Text Node
        margin: 5px;
        position: relative;
        display: inline-block;
        padding-left: $switch-width * 1.2;
        cursor: pointer;
        line-height: $switch-width / 2;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: $switch-width / 2;
          border-radius: $switch-width;
          //@include transition( all 0.2s ease );
          transition: all 0.3s ease-out;
        }

        &:before {
          // Background
          background-color: $switch-bg-color;
          width: $switch-width;
        }

        &:after {
          // Switch knob
          width: $switch-width / 2;
          background-color: $switch-knob-color;
        }
      }
      //checked
      &:checked + label {
        &:before {
          background-color: $switch-bg-active-color;
        }

        &:after {
          left: $switch-width / 2;
        }
      }
    }
  }
  & .currency{
    text-align: left;
    margin-left: 32px;
    margin-top: 16px;
    & .currencyInput {
    border-style: solid;
    border-color: #e4e4e4;
    outline: none;
    padding-left: 10px;
    width: 130px;
    height: 23px;
    border-radius: 20px;
    margin-right: 5px;
    font-weight: bold;
  }
  }


  & .salaryInfo {
    background-color: #fbf3dc;
    margin-top: 41px;
    text-align: left;
    padding: 19px 0px 19px 28px;
  }
}
